

body{
    margin: 0;
    width: 100%;
    font-family: 'Orbitron';
}

/* -------------------------------------Navigation Bar line---------------------------*/

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    position: fixed;
    z-index: 10;
    height: 10%;
    font-family: "Orbitron";
    transition-duration: 0.300s;
    opacity: 75%;

  }
  #navbar:hover {
    color:cadetblue;
    height: 12.3%;
    opacity: 100%;
  }
  .logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
    letter-spacing: 1.5px;
    cursor: pointer;
    padding-left: 10px;

  }
  .logo:hover {
    color:cadetblue;
  }
  .nav-bar li {
    display: inline-block;
    list-style: none;
    padding: 0px 15px;
    font-family: "Orbitron";
  }
  a {
    font-size: 16px;
    font-weight: 500;
    color: #b7b9bb;
    text-decoration: none;
    cursor: pointer;
  }
  
  .hamburger {
    display: none;
  }
  

/* -------------------------------------HOME PAGE --------------------------------------------- */
    


.home {
  line-height: 0.7cm;
  padding-top: 8%;
  color: black;
  font-family: 'Orbitron';
  font-size:25px;
  text-align: center;
  
}
.still_life {

  text-align: center;
  color: white;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 25px;
  font-size: 50px;
  background-image: url('images/sl_3.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  text-shadow: 2px 2px 5px black;
  font-family: Sono;
  
}
.still_life-1 {

  text-align: center;
  color: white;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 25px;
  font-size: 50px;
  background-image: url('images/sl_10.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  text-shadow: 2px 2px 5px black;
  font-family: Sono;

}

.sl_promo {
  background-color: black;
}
  

.sl-image {
  max-width: 100%;
  height: auto;
  text-align: center;
  width: 100%;
}

@media  (max-width:1000px) and (min-width:400px){
  .still_life-1 {

    text-align: center;
    color: white;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 25px;
    font-size: 50px;
    background-image: url('images/sl_10.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-shadow: 2px 2px 5px black;
    font-family: Sono;
  
  }
  .still_life {

    text-align: center;
    color: white;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr;
    font-size: 50px;
    background-image: url('images/sl_7.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-shadow: 2px 2px 5px black;
    font-family: Sono;
    
  }
 
    
}
@media (max-width:400px) {
  .still_life {

    color: white;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr;
    text-align: center;
    padding-top: 5%;
    font-size: 50px;
    background-image: url('images/sl_3.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-shadow: 2px 2px 5px black;
    font-family: Sono;
    width: 100%;
    line-height: 12cm;
    
  }

      
}
.sl-button {
  background: none;
  opacity: 95%;
  font-size: 20px;
  font-family: 'Sono';
  cursor: pointer;
}
.sl-button:hover{
  opacity: 80%;
  transform: scale(1.1); 
  color:white;
  border:dotted;
  
}

.discography {
    line-height: 0.7cm;
    padding-top: 8%;
    color: black;
    font-family: 'Orbitron';
    font-size:25px;
    text-align: center;
    
}


.discography-home {
 
  padding-top: 2%;
  color: black;
  font-family: 'Orbitron';
  font-size:25px;
  text-align: center;
  
}
.shop {
  line-height: 0.7cm;
  padding-top: 8%;
}
.profile {
    line-height: 0.7cm;
  

}
.heading {
    text-align: center;
    color: black;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
}

.responsive {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* PROFILES CONTENT */
.outer {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    padding-top: 5%;
   
}
.innner {
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px 5px black;
}
#bg {
  background-image: url('images/background_5.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}


/* ------------------------------------PROFILE PAGE-----------------------------------------------*/

#profile-1, #profile-2, #profile-3, #profile-4{
    width: 100%;
    line-height: 0.5cm;
    text-align: center;
}

.indent {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Sono', sans-serif;
  border: 5px solid black;
  border-style: double;
  font-size: 23px;
  padding-left: 25%;
  text-align: left;
}
.indent2 {
  padding:5%;
  font-family: 'Sono', sans-serif;
  border: 5px solid black;
  border-style: double;
  font-size: 22px;
  text-align: left;
}




@media (max-width:600px){
    .hamburger {
        display: block;
        cursor: pointer;
      }
      .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
      }
      .nav-bar {
        height: 0;
        position: absolute;
        top: 69px;
        left: 0;
        right: 0;
        width: 100vw;
        background: black;
        transition: 0.5s;
        overflow: hidden;
      }
      .nav-bar.active {
        height: 200px;
        opacity: 95%;
      }
      .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
       
        color:white;
      }
      .nav-bar.active ul {
        opacity: 1;
        display: flex;
        flex-direction: column;
        font-size: 50px;
        font-weight: bold;
      }

    
      .outer {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        text-align: center;
    }
    ul {
        list-style: none;
      }

      #navbar{
        display: block;
      }
 
      
    }
    
     
  @media(max-width:375px) {
    .indent {
      padding-top: 20px;
      padding-bottom: 20px;
      font-family: 'Sono', sans-serif;
      border: 5px solid black;
      border-style: double;
      font-size: 70%;
      padding-left: 25%;
      text-align: left;
  }
  .indent2 {
      padding:5%;
      font-family: 'Sono', sans-serif;
      border: 5px solid black;
      border-style: double;
      font-size: 70%;
      text-align: left;
  }

}
 

    
      
    
@media(max-width:1350px) and (min-width:700px) {
    .outer {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
}
@media(max-width:700px) {
    .outer {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        text-align: center;
    }
}

  .container{
        width: 100%;
    }

a:hover{
    color: #2EFFD8;
}

hr {
    border: solid black 1.5px;
}


.fa {
    padding: 20px;
    font-size: 100px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }  




@media(max-width:375px) {

    .responsive {
        height: auto;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: auto;

    }

}
/* -------------------DISCOGRAPHY ---------------*/


/* ------------------SHOP----------------------*/
* {box-sizing:border-box}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.merch {
  width:160%;
  box-shadow: 5px 10px 15px black;

   padding:15%;
    
    transition: transform .2s; /* Animation */

    margin: 0 auto;
    text-align: center;
    width: 500px;
    height:500px;
  }
  
  .merch:hover {
    transform: scale(1.15); 
  }

.sl-merch {
  display: grid;
  grid-gap: 55px;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding-top: 5%;
}
@media (max-width:1000px) {
  .sl-merch {
    display: grid;
    grid-gap: 55px;
    grid-template-columns: 1fr;
    text-align: center;
    padding-top: 5%;
  
  }
}



/* -------------------FOOTER---------------------*/
input[type=text] {
  border: none;
  border-bottom: 0.5px solid white;
  background-color: black;
  color:white;
  font-family: 'Sono';
}
#myButton1 {
  border: none;
  background-color: black;
  color:white;
  font-family: 'Sono';
  cursor: pointer;
}
select {

  border: none;
  border-radius: 4px;
  background-color: black;
  color:white;
  font-family: 'Sono';
}

.social-footer {
  
  left: 0;
  bottom: 0;
  font-family:'Sono';
  width: 100%;
  background-image: url('images/background_5.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: white;
  text-align: center;
  transition-duration: 0.300s;
  overflow:hidden;
  font-size:15px;
}


